<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>flow</title>
</head>
<body>
     <span>8 巾民民 生至起开 巾民民生银行姓卡人账户时账印-交打账摘 连间期证时O O人时间时O OO民区:开:额O:
     客户姓名: 间 -卡号: 打:打 间间 币种: 人民币 存期类型: 活期 钞汇行至::至: 钞
     开户机构: 巾型民生银行大连开发区支行 帐号: 50000000000082928081 起止日期: 2014-02-01 至20l4-O4-29 打印日期: 2014-08-15</span>
     <table class="hq_table">
         <tr class="tr_1">
           <td width="200">交易 印生 间</td>
           <td width="200">交易流水号</td>
           <td width="200">交易金额</td>
           <td width="200">账户 余额</td>
           <td width="200">凭证号码</td>
           <td width="200"></td>
           <td width="200">摘要信息</td>
           <td width="10">&nbsp;</td>
         </tr>
         <tr>
           <td style="text-align:left;padding-left:5px;">号014O212 印</td>
           <td></td>
           <td>19000. OO 证</td>
           <td>19000: 00</td>
           <td>50000000000082923081</td>
           <td></td>
           <td></td>
           <td></td>
         </tr>
         <tr>
           <td style="text-align:left;padding-left:5px;">20140217</td>
           <td></td>
           <td>-3000: 00</td>
           <td>16000. OO</td>
           <td>50000000000082923081</td>
           <td></td>
           <td></td>
           <td></td>
         </tr>
         <tr>
           <td style="text-align:left;padding-left:5px;">20140217</td>
           <td></td>
           <td>-2000: OO</td>
           <td>14000. 00</td>
           <td>50000000000082923081</td>
           <td></td>
           <td></td>
           <td></td>
           </tr>
          <tr>
            <td style="text-align:left;padding-left:5px;">20140219</td>
            <td></td>
            <td>-5000: OO</td>
            <td>9000. 00</td>
            <td>50000000000082923081</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
     </table>
</body>
</html>
